.labels {
    -fx-text-fill: white;
    -fx-pref-width: 100px;
}

#titre {
    -fx-text-fill: linear-gradient(from 10% 10% to 100% 100%, rgba(217, 184, 85, 1), rgba(222, 221, 217, 1));
    -fx-font-weight: bold;
}

Button {
    /* Texte */
    -fx-font-size: 15px;
    -fx-font-family: "verdana";
    -fx-text-fill: white;

    /* Background */
    -fx-background-radius: 6px;
    -fx-background-color: linear-gradient(from 10% 10% to 100% 100%, rgba(217, 184, 85, 1), rgba(222, 221, 217, 1));

    /* Bordure */
    -fx-border-radius: 5px;
    -fx-border-color: white;
}

.buttons {
    /* Texte */
    -fx-pref-width: 100px;
    -fx-font-size: 15px;
    -fx-font-family: "verdana";
    -fx-text-fill: white;

    /* Background */
    -fx-background-radius: 6px;
    -fx-background-color: linear-gradient(from 10% 10% to 100% 100%, rgba(217, 184, 85, 1), rgba(222, 221, 217, 1));

    /* Bordure */
    -fx-border-radius: 5px;
    -fx-border-color: white;
}



